{% extends "base.html" %}
{% block  content  %}

        <center>
            <h1>How much water should you add?</h1>
            <form class="calculator" action="/calculate_dilution" method="post" enctype="multipart/form-data">
                <div>
                <label for="vol">Initial volume [cm<sup>3</sup>] </label>
                    <input type="text" name="volume" id = "vol"></div>
                <div>
                <label for="perc">Current concentration [%]</label>
                    <input type="text" name="solution" id = "perc" /></div>
                <div>
                <label for="perc">Desired concentration [%]</label>
                    <input type="text" name="final" id = "final" /></div>

                <input class="calculator" type="submit" value = "Go!" >
            </form>
        </center>

{% endblock %}